<div class="list" ng-controller='UserDetailsController'>    

	<div class ="row">	
		<div class = "small-4 columns">
			<h5> Username: {{user.name}}</h5>
			<h5>Email: {{user.email}}</h5>
		</div>

		<h5>Pending Tasks</h5>
		<div class = "small-8 columns" ng-repeat = "task in taskNames">
			
			<div class = "row">
				<div class = "small-8 columns">
					<h5>{{task}}</h5>
				</div>

				<div class = "small-4 columns">
					<button ng-click = "completeTask(task)" type="submit">Complete</button>
				</div>

			</div>
		</div>

	</div> 

	<div class = "row">
			<button ng-click = "showCompletedTask()" type="submit">Show Completed task</button>
			<ul ng-repeat = 'completedTask in completedTasks'>
				<li>
					<h5>Task name: {{completedTask.name}}</h5>
				</li>

			</ul>

	</div>
				

</div>